[submodule "subjects/themes/um-new"]
	path = subjects/themes/um-new
	url = https://umlibraries@dev.azure.com/umlibraries/SP4/_git/um-new.git
[submodule "subjects/themes/med"]
	path = subjects/themes/med
	url = git@bitbucket.org:umiamiwet/med.git
